language: 'php'
php:
    - '7.3'

before_install: true

install:
    - composer install

before_script: true

script:
    - ./vendor/bin/php-cs-fixer fix --dry-run  --diff --verbose
    - phpunit tests

after_script: true
